# Módulo 10 - Iterables

## Exemplos

### Listas

In [1]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5',\
            'tablet', 'ipad', 'tv philco', 'notebook hp',\
            'notebook dell', 'notebook asus']

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

### Strings

In [3]:
texto = 'gio@gmail.com'

for ch in texto:
    print(ch)

g
i
o
@
g
m
a
i
l
.
c
o
m

### Tuplas

In [4]:
produtos = ('iphone', 'samsung galaxy', 'tv samsung',\
            'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp',\
            'notebook dell', 'notebook asus')

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

### Dicionários

In [5]:
vendas_produtos = {'iphone': 15000, 'samsung galaxy': 12000,\
                   'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720,\
                   'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000,\
                   'notebook dell': 17000, 'notebook asus': 2450}

for produto in vendas_produtos:
    print(produto)
    #print('{}: {} unidades'.format(produto, vendas_produtos[produto]))

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

                                     -//-

## RANGE

In [3]:
#uso mais comum no for:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print("{}: {} unidades em estoque".format(produtos[i], estoque[i]))

arroz: 50 unidades em estoque
feijao: 100 unidades em estoque
macarrao: 20 unidades em estoque
atum: 5 unidades em estoque
azeite: 80 unidades em estoque

In [5]:
#range com inicio e fim
print(range(1, 10))

#vamos olhar no for para entender
for i in range(1, 10):
    print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9

- Exemplo: Modelo Jack Welch da G&E

    1. Classe A: 10% melhor
    2. Classe B: 80% mantém/busca melhorar
    3. Classe C: 10% pior
    
Quem são os funcionários classe B?

In [8]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

print("Funcionários Classe B")
for i in range(3, 18):
    print("{}: fez {} vendas".format(funcionarios[i], vendas[i]))

Funcionários Classe B
João: fez 1200 vendas
Francisco: fez 1111 vendas
Ana: fez 1100 vendas
Luiz: fez 999 vendas
Paulo: fez 900 vendas
Carlos: fez 880 vendas
Manoel: fez 870 vendas
Pedro: fez 800 vendas
Francisca: fez 800 vendas
Marcos: fez 450 vendas
Raimundo: fez 400 vendas
Sebastião: fez 300 vendas
Antônia: fez 300 vendas
Marcelo: fez 120 vendas
Jorge: fez 90 vendas

In [10]:
#range com passo
print(range(0, 100, 10))

for i in range(0, 100, 10):
    print(i)

range(0, 100, 10)
0
10
20
30
40
50
60
70
80
90

                                     -//-

## SET

In [11]:
set_produtos = {'arroz', 'feijao', 'macarrao', 'atum', 'azeite'}

print(set_produtos)

{'atum', 'arroz', 'feijao', 'azeite', 'macarrao'}

- Aplicação bem útil:

    1. Quantos clientes tivemos na loja?

In [15]:
cpf_clientes = ['762.196.080-97', '263.027.380-67', '827.363.930-40',\
                '925.413.640-91', '870.565.160-33', '892.080.930-50',\
                '462.126.030-81', '393.462.330-10', '393.462.330-10',\
                '393.462.330-10', '988.305.810-11', '596.125.830-05',\
                '596.125.830-05', '990.236.770-48']

print(len(cpf_clientes))

set_cpf_clientes = set(cpf_clientes)

cpf_clientes_unicos = list(set_cpf_clientes)

print("Temos {} clientes na loja".format(len(set_cpf_clientes)))

14
Temos 11 clientes na loja