# Módulo 6 - Estrutura de repetição - FOR

for i in range(n):
    Código --> É repetido n vezes

In [1]:
for i in range(5):
    print("Bom dia flor do dia")

Bom dia flor do dia
Bom dia flor do dia
Bom dia flor do dia
Bom dia flor do dia
Bom dia flor do dia

Imagine que você está construindo uma automação para enviar todo dia por e-mail um resumo da produção de uma fábrica. Construa um código que exiba a quantidade produzida de cada os produto nesse "e-mail"

In [3]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]


for i in range(len(produtos)):
    print("{} unidades produzidas de {}"\
          .format(producao[i], produtos[i]))

15000 unidades produzidas de coca
12000 unidades produzidas de pepsi
13000 unidades produzidas de guarana
5000 unidades produzidas de sprite
250 unidades produzidas de fanta

                                  -//-

## FOR each

for i in range(5):
    print(i)

range(5) é uma lista -> [0, 1, 2, 3, 4]

Lista
    for item in lista:
        print(item)

String
    for ch in texto:
        print(ch)

### Para listas

In [9]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'gio@gmail.com'

for item in produtos:
    print("O produto é {}".format(item))

print(" ")    
    
for ch in texto:
    print(ch)

O produto é coca
O produto é pepsi
O produto é guarana
O produto é sprite
O produto é fanta

g
i
o
@
g
m
a
i
l
.
c
o
m

                                  -//-

## FOR + IF

for item in lista:
    if condição:
        código
    else:
        outro código

Digamos que a gente esteja analisando a meta de vendas de vários funcionários de uma empresa. A meta de vendas é de 1000 reais em 1 dia.

Temos uma lista com as vendas de todos os funcionários e quero calcular qual o % de pessoas que bateram a meta.

In [17]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23,\
          70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111,\
          120, 300, 450, 800]

meta = 1000

qtd_bateu_meta = 0

qtd_total = len(vendas)

for venda in vendas:
    if venda >= meta:
        qtd_bateu_meta += 1

porcentagem = qtd_bateu_meta/qtd_total

print("{:.1%} das pessoas bateram a meta".format(porcentagem))

26.1% das pessoas bateram a meta

                                  -//-

## ENUMERATE

In [19]:
funcionarios = ['Maria', 'José', 'Antônio', 'João',\
                'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos',\
                'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo',\
                'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia',\
                'Geraldo', 'Adriana', 'Sandra', 'Luis']

for funcionario in funcionarios:
    print(funcionario)

Maria
José
Antônio
João
Francisco
Ana
Luiz
Paulo
Carlos
Manoel
Pedro
Francisca
Marcos
Raimundo
Sebastião
Antônia
Marcelo
Jorge
Márcia
Geraldo
Adriana
Sandra
Luis

In [20]:
funcionarios = ['Maria', 'José', 'Antônio', 'João',\
                'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos',\
                'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo',\
                'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia',\
                'Geraldo', 'Adriana', 'Sandra', 'Luis']

for i, funcionario in enumerate(funcionarios):
    print('{} é o funcionário {}'.format(i, funcionario))

0 é o funcionário Maria
1 é o funcionário José
2 é o funcionário Antônio
3 é o funcionário João
4 é o funcionário Francisco
5 é o funcionário Ana
6 é o funcionário Luiz
7 é o funcionário Paulo
8 é o funcionário Carlos
9 é o funcionário Manoel
10 é o funcionário Pedro
11 é o funcionário Francisca
12 é o funcionário Marcos
13 é o funcionário Raimundo
14 é o funcionário Sebastião
15 é o funcionário Antônia
16 é o funcionário Marcelo
17 é o funcionário Jorge
18 é o funcionário Márcia
19 é o funcionário Geraldo
20 é o funcionário Adriana
21 é o funcionário Sandra
22 é o funcionário Luis

### Exemplo Prático

Vamos pegar um exemplo de nível mínimo de estoque. Em uma fábrica você tem vários produtos e não pode deixar que os produtos fiquem em falta. Para isso, foi definido uma quantidade mínima de estoque que os produtos precisam ter:

Identifique quais produtos estão abaixo do nível mínimo de estoque.

In [26]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80,\
           1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]

produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua',\
            'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto',\
            'vodka', 'vinho branco', 'tequila', 'champagne', 'gin',\
            'guaracamp', 'matte', 'leite de castanha', 'leite',\
            'jurupinga', 'sprite', 'fanta']

nivel_minimo = 50

for i, qtd in enumerate(estoque):
    if qtd < nivel_minimo:
        print("O produto {} está abaixo do nível mínimo. Temos {} unidades em estoque".format(produtos[i], qtd))

O produto dolly está abaixo do nível mínimo. Temos 20 unidades em estoque
O produto red bull está abaixo do nível mínimo. Temos 23 unidades em estoque

                                  -//-

## FOR dentro de FOR

Vamos pegar um exemplo de nível mínimo de estoque. Em uma fábrica você tem vários produtos e não pode deixar que os produtos fiquem em falta. Para isso, foi definido uma quantidade mínima de estoque que os produtos precisam ter:

Identifique quais fábricas tem algum produto abaixo do nível de estoque

- Agora ao invés de analisar o estoque de apenas 1 fábrica, vamos analisar o estoque de várias fábricas

In [32]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]

fabricas = ['Gio Manufacturing', 'Fábrica x', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']

nivel_minimo = 50

fabricas_abaixo = [] #Lista auxiliar

for i, item in enumerate(estoque):
    for qtd in item:
        if qtd < nivel_minimo:
            if fabricas[i] in fabricas_abaixo: #Não repete o nome da fábrica
                pass
            else:
                fabricas_abaixo.append(fabricas[i])
            
print(fabricas_abaixo)

['Gio Manufacturing', 'Fábrica x', 'Python Manufaturas']

                                  -//-

## BREAK and CONTINUE - Interrompendo um Loop

Se todas as vendas forem acima da meta, a loja ganha bônus

In [36]:
vendas = [100, 150, 1500, 2000, 120]

meta = 110

for venda in vendas:
    if venda < meta:
        print("A loja não ganha bônus")
        break

A loja não ganha bônus

Exiba quem bateu a meta

In [38]:
vendedores = ['João', 'Julia', 'Ana', 'José', 'Maria']

meta = 130

for i, venda in enumerate(vendas):
    if venda < meta:
        continue #Retorna para o FOR 
    print("{} bateu a meta, vendeu {} unidades".format(vendedores[i], venda))

Julia bateu a meta, vendeu 150 unidades
Ana bateu a meta, vendeu 1500 unidades
José bateu a meta, vendeu 2000 unidades