O presente projeto foi desenvolvido durantes as aulas do "Intensivão de Python" da Hashtag Treinamentos

# Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

## Lógica de programação

#### Passo 1
Criar um navegador

#### Passo 2
Entrar no Google e pesquisar a cotação do dólar

#### Passo 3
Pegar a cotação do dólar

#### Passo 4
Entrar no Google e pesquisar a cotação do euro

#### Passo 5
Pegar a cotação do euro

#### Passo 6
Entrar no Google e pesquisar a cotação do ouro

#### Passo 7
Pegar a cotação do ouro
 - Como é em site, tem que entrar em um confiável
 
#### Passo 8
Importar a base de dados

#### Passo 9
Atualizar as cotações

#### Passo 10
Atualizar os preços de compra e venda

#### Passo 11
Exportar a base de dados atualizada

## Instalações

In [6]:
#!pip install selenium

#!pip install -U selenium

#!pip install webdriver_manager

## Importações

O código de importação do Selenium é padrão

In [7]:
#Controlar o navegador
from selenium import webdriver

#Usar o teclado
from selenium.webdriver.common.keys import Keys

#Localizar os itens no navegador
from selenium.webdriver.common.by import By

import pandas as pd

## Passo 1

- Vai gerar uma tela do Chrome
    - O Chrome reconhece que o Selenium está controlando ele

In [8]:
navegador = webdriver.Chrome()

## Passo 2

Identifica cada elemento do site

Botão direito -- Inspecionar -- Seta no canto superior esquerdo (seleciona os elementos do site) -- Selecionar o elemento desejado -- Copy -- Copy Xpath

In [ ]:
navegador.get('https://www.google.com')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

## Passo 3

data-value vai fornecer o valor da moeda

In [ ]:
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print('Dólar: ', cotacao_dolar)

## Passo 4

In [ ]:
navegador.get('https://www.google.com')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

## Passo 5

Não importa a moeda, a posição do elemento vai ser a mesma

In [ ]:
cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print('Euro: ', cotacao_euro)

## Passo 6

In [ ]:
navegador.get('https://www.melhorcambio.com/ouro-hoje')

## Passo 7

A vírgula como separador de milhar vai dar porblema no Python

In [ ]:
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')

cotacao_ouro = cotacao_ouro.replace(',', '.')

print('Ouro: ', cotacao_ouro)

## Fechando o navegador após a coleta de dados

In [ ]:
navegador.quit()

## Passo 8

Puxa apenas as informações do Excel e não as fórmulas

In [21]:
tabela = pd.read_excel('Produtos.xlsx')

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

## Passo 9

tabela.loc[] -> Localiza as linhas (número da linha ou condicional) e a coluna e substitui a informação

In [25]:
tabela.loc[tabela['Moeda']=='Dólar', 'Cotação'] = float(cotacao_dolar)

tabela.loc[tabela['Moeda']=='Euro', 'Cotação'] = float(cotacao_euro)

tabela.loc[tabela['Moeda']=='Ouro', 'Cotação'] = float(cotacao_ouro)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.055200,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.564026,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.055200,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.055200,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.564026,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.055200,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,324.630000,7000.00,1.15,8050.000

## Passo 10

Preço de compra = Preço original x Cotação

Preço de venda = Preço de compra x Margem

In [ ]:
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']

tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

## Passo 11

index=False -> Retira a indexação da tabela

Deixa para fazer a formatação de casas decimais/moeda e afins no Excel

In [ ]:
tabela.to_excel('NOVO ARQUIVO', index=False)

## Código completo

In [27]:
#IMPORTAÇÕES
#Controlar o navegador
from selenium import webdriver

#Usar o teclado
from selenium.webdriver.common.keys import Keys

#Localizar os itens no navegador
from selenium.webdriver.common.by import By

import pandas as pd



#CÓDIGO
#Criando um navegador
navegador = webdriver.Chrome()


#Dólar
navegador.get('https://www.google.com')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print('Dólar: ', cotacao_dolar)


#Euro
navegador.get('https://www.google.com')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print('Euro: ', cotacao_euro)


#Ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')

cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')

cotacao_ouro = cotacao_ouro.replace(',', '.')

print('Ouro: ', cotacao_ouro)


#Fechando o navegador
navegador.quit()


#Importando a base de dados
tabela = pd.read_excel('Produtos.xlsx')


#Atualizando as cotações
tabela.loc[tabela['Moeda']=='Dólar', 'Cotação'] = float(cotacao_dolar)

tabela.loc[tabela['Moeda']=='Euro', 'Cotação'] = float(cotacao_euro)

tabela.loc[tabela['Moeda']=='Ouro', 'Cotação'] = float(cotacao_ouro)


#Calculando os preços de compra e venda
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']

tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

display(tabela)


#Exportação da base de dados atualizada
tabela.to_excel('Produtos atualizados.xlsx', index=False)

Dólar:  5.0453
Euro:  5.5511
Ouro:  324.63

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.0453,5045.249547,1.40,7063.349366
1,Carro Renault,4500.00,Euro,5.5511,24979.950000,2.00,49959.900000
2,Notebook Dell,899.99,Dólar,5.0453,4540.719547,1.70,7719.223230
3,IPhone,799.00,Dólar,5.0453,4031.194700,1.70,6853.030990
4,Carro Fiat,3000.00,Euro,5.5511,16653.300000,1.90,31641.270000
5,Celular Xiaomi,480.48,Dólar,5.0453,2424.165744,2.00,4848.331488
6,Joia 20g,20.00,Ouro,324.6300,6492.600000,1.15,7466.490000

## ANOTAÇÕES

- Selenium
    - Permite controlar o navegador do computador de forma automática
    - O mesmo código funciona independente do tipo de computador
    - Funciona em segundo plano (background)
    - Webdriver
        - Permite o Selenium assumir o controle do navegador
        - É diferente de acordo com o navegador
            - Chrome -> chromedriver
            - Firefox -> geckodriver
        - É recomendado usar o Chrome ou o Firefox
            - O Selenium roda melhor nesses navegadores
        - Tem que ser colocado na mesma pasta onde está o python.exe
            - Senão vai dar erro para rodar o controle do Selenium
    - Pacote de código pronto -> Biblioteca
    - A importação é diferente
        - É feita a importação apenas das ferramentas necessárias
            - Menos trabalho
    - Permite controlar o navegador de forma inteligente
        - Não é influenciado pela posição dos itens do site
    - O Selenium espera cada linha rodar para executar a próxima
        - Não é necessário usar o time.sleep() na maioria dos casos 


- Tem como burlar o ReCaptcha
    - Mas é muito trabalhoso
        - O ReCaptcha foi criado para barrar automações