# Módulo 15 - Análise de Dados com o Pandas e Integração Python + Excel

## Importações

In [1]:
import pandas as pd

## Pandas e .csv

In [5]:
vendas_df = pd.read_csv('Contoso - Vendas - 2017.csv', sep=';')

vendas_df

       Numero da Venda;Data da Venda;Data do Envio;ID Canal;ID Loja;ID Produto;ID Promocao;ID Cliente;Quantidade Vendida;Quantidade Devolvida
0             1;01/01/2017;02/01/2017;1;86;981;2;6825;9;1
1          2;01/01/2017;06/01/2017;5;308;1586;2;18469;9;1
2         3;01/01/2017;01/01/2017;0;294;1444;5;19730;13;1
3          4;01/01/2017;01/01/2017;0;251;1468;5;29326;6;1
4           5;01/01/2017;07/01/2017;6;94;1106;2;22617;4;1
...                                                   ...
980637  980638;31/12/2017;31/12/2017;0;194;2490;4;1035...
980638  980639;31/12/2017;06/01/2018;6;32;2488;4;31750...
980639  980640;31/12/2017;03/01/2018;3;210;2511;10;120...
980640  980641;31/12/2017;31/12/2017;0;53;436;4;25550;...
980641  980642;31/12/2017;31/12/2017;0;309;2510;10;287...

[980642 rows x 1 columns]

                                     -//-

## Título 2

                                     -//-

## Título 2

                                     -//-

## Título 2

                                     -//-

## Título 2

                                     -//-