# Módulo 9 - Dicionários

In [1]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista',\
                 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720,\
                     'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

- Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
- Quanto foi vendido de 'notebook asus' e de 'ipad'?

In [4]:
item1 = mais_vendidos['livros']

item2 = mais_vendidos['lazer']

print("Livro mais vendido: ", item1)

print("Lazer mais vendido: ", item2)

qtd_vendido1 = vendas_tecnologia['notebook asus']

qtd_vendido2 = vendas_tecnologia['ipad']

print("Notebook Asus: ", qtd_vendido1)

print("iPad: ", qtd_vendido2)

Livro mais vendido:  o alquimista
Lazer mais vendido:  prancha surf
Notebook Asus:  2450
iPad:  1000

                                     -//-

## Pegar e Verificar itens

In [ ]:
mais_vendidos = {'tecnologia': 'iphone',\
                 'refrigeracao': 'ar consul 12000 btu',\
                 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira',\
                 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000,\
                     'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720,\
                     'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000,\
                     'notebook dell': 17000, 'notebook asus': 2450}

- Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
- Quanto foi vendido de 'notebook asus' e de 'ipad'?

### Chaves

In [5]:
print(mais_vendidos['livros'])

print(mais_vendidos['lazer'])

print(vendas_tecnologia['notebook asus'])

print(vendas_tecnologia['ipad'])

o alquimista
prancha surf
2450
1000

### Método GET

In [6]:
print(mais_vendidos.get('livros'))

print(mais_vendidos.get('lazer'))

print(vendas_tecnologia.get('notebook asus'))

print(vendas_tecnologia.get('ipad'))

o alquimista
prancha surf
2450
1000

### Verificando se um item está no dicionário (IF e GET)

In [8]:
if 'copo' in vendas_tecnologia: #Copo é procurado nas chaves
    print(vendas_tecnologia['copo'])
else:
    print('Copo não está na lista de produtos de tecnologia')

Copo não está na lista de produtos de tecnologia

In [9]:
if vendas_tecnologia.get('copo') == None:
    print('Copo não está na lista de produtos de tecnologia')
else:
   print(vendas_tecnologia.get('copo'))

Copo não está na lista de produtos de tecnologia

                                     -//-

## Adicionar, Modificar e Remover itens

### Adicionar

In [27]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}

lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}

print(lucro_1tri)

# #adicionando 1 item
# lucro_1tri['abril'] = 88000

# print(lucro_1tri)

#adicionando vários itens ou um dicionário a outro
lucro_1tri.update(lucro_2tri)

print(lucro_1tri)

#adicionando um item já existente (manualmente ou pelo update)
lucro_1tri['janeiro'] = 88000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

### Modificar

In [28]:
print(lucro_1tri)

lucro_fev = 85000

lucro_1tri['fevereiro'] = lucro_fev

print(lucro_1tri)

{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 88000, 'fevereiro': 85000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

### Remover

In [26]:
#removendo o mês de junho
del lucro_1tri['junho']

print(lucro_1tri)

{'janeiro': 88000, 'fevereiro': 85000, 'março': 90000, 'abril': 88000, 'maio': 89000}

In [29]:
lucro_jun = lucro_1tri.pop('junho')

print(lucro_1tri)

print(lucro_jun)

{'janeiro': 88000, 'fevereiro': 85000, 'março': 90000, 'abril': 88000, 'maio': 89000}
120000

                                     -//-

## FOR

In [31]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000,\
                     'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720,\
                     'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000,\
                     'notebook dell': 17000, 'notebook asus': 2450}

for chave in vendas_tecnologia:
    print("{}: {} unidades".format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

- Qual o total de notebooks vendidos?

In [32]:
total_notebooks = 0

for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebooks += vendas_tecnologia[chave]
        
print(total_notebooks)

20450

                                     -//-

## Métodos úteis

### ITEMS

In [9]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

for produto, qtd in vendas_tecnologia.items():
    print("{}: {} unidades".format(produto, qtd))

notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
notebook dell: 17000 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades

- Quais produtos venderam mais de 5000 unidades?

In [10]:
for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print("{}: {} unidades".format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
notebook dell: 17000 unidades

In [11]:
for produto, qtd in vendas_tecnologia.items():
    if qtd > 5000:
        print("{}: {} unidades".format(produto, qtd))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
notebook dell: 17000 unidades

### KEYS e VALUES

In [13]:
chaves = vendas_tecnologia.keys()

valores = vendas_tecnologia.values()

print(chaves)

print(" ")

print(valores)

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp'])

dict_values([2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000])

In [16]:
vendas_tecnologia['megaphone'] = 10

print(chaves)

print(" ")

print(valores)

print("--------------------")

print(list(chaves))

print(" ")

print(list(valores))

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'megaphone'])

dict_values([2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10])
--------------------
['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'megaphone']

[2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10]

- Imprimir uma lista com os valores em ordem alfabética, de forma que todas as tvs fiquem juntas, todos os iphone/ipad também e assim vai:

In [21]:
for chave in vendas_tecnologia:
     print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))

print('-' * 40)

#agora se quisermos organizar isso, fazemos:
lista_chaves = list(chaves)

lista_chaves.sort()

print(lista_chaves)

print('-' * 40)

for chave in lista_chaves:
    print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))

notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
notebook dell: 17000 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
megaphone: 10 unidades
----------------------------------------
['ipad', 'iphone', 'megaphone', 'notebook asus', 'notebook dell', 'notebook hp', 'ps5', 'samsung galaxy', 'tablet', 'tv philco', 'tv samsung']
----------------------------------------
ipad: 1000 unidades
iphone: 15000 unidades
megaphone: 10 unidades
notebook asus: 2450 unidades
notebook dell: 17000 unidades
notebook hp: 1000 unidades
ps5: 14300 unidades
samsung galaxy: 12000 unidades
tablet: 1720 unidades
tv philco: 2500 unidades
tv samsung: 10000 unidades

                                     -//-

## ZIP e Transformando Listas em Dicionários

In [23]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5',\
            'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell',\
            'notebook asus']

vendas = [15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450]

In [24]:
dicionario = dict.fromkeys(produtos, 0)

print(dicionario)

{'iphone': 0, 'samsung galaxy': 0, 'tv samsung': 0, 'ps5': 0, 'tablet': 0, 'ipad': 0, 'tv philco': 0, 'notebook hp': 0, 'notebook dell': 0, 'notebook asus': 0}

In [28]:
lista_tuplas = zip(produtos, vendas)

dicionario_vendas = dict(lista_tuplas)

print(dicionario_vendas)

{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

- Quanto vendemos de ipad?

In [31]:
#fazendo por listas
index = produtos.index('ipad')

print("{}: {} unidades".format(produtos[index], vendas[index]))

print('-' * 45)

#fazendo por dicionario
chave = 'ipad'

print("{}: {} unidades".format(chave, dicionario_vendas[chave]))

ipad: 1000 unidades
---------------------------------------------
ipad: 1000 unidades